@model APS.Models.ClassifiedViewModel
@using APS.Extensions
@{
    ViewBag.Title = "Index";
    var _path = Model.S_Path;
    string[] _backOptions = _path.Split('/');
    var hasMark = "";
    var user = Html.CurrentUser();
    var mark = "";
    var logged = user.Id != null && user.Id != Model.U_Id ? true : false;

    if (logged)
    {
        if (Model.Marks != null && Model.Marks.IndexOf(user.Id) > -1)
        {
            hasMark = "true";
        }
        mark = "<i class='fa fa-star markClassified action-icon " + hasMark + "'></i>";
    }
}
<div class="row back-container">
    <div class="col-xs-12">
        <span class="back-button">
            @Html.ActionLink("Home", "", "Home")
        </span>
        @if (_backOptions != null && _backOptions.Length > 0)
        {
            var temp = "";
            foreach (var op in _backOptions)
            {
                temp += '/' + op;
                <i class="fa fa-chevron-right back-button"></i>
                <span class="back-button">
                    @Html.ActionLink(op, temp, "classifields")
                </span>
            }
        }

    </div>
</div>
<div class="row header-container">
    <div class="col-md-8">
        <div class="classified-image-container">
            <div class="ubislider-image-container" data-ubislider="#slider" id="imageSlider"></div>
            <div class="ubislider" id="slider">
                <ul class="ubislider-inner">
                    @foreach (var img in Model.S_pictures)
                    {
                        <li>
                            <img src="@String.Format("data:image/jpg;base64,{0}", img)"/>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="main-info">
            <div class="section">
                <div class="title">Price:</div>
                <div><span class="price">@Html.Raw(Model.S_price) €</span><span class="mark">@Html.Raw(mark)</span></div>
            </div>
            <div class="publiced section">
                <div class="title">Date</div>
                <div>@Html.Raw(Model.S_dateCreated)</div>
                <div>@Html.Raw(Model.S_endDate)</div>
            </div>
            <div class="section">
                <div class="title">Views</div>
                <div>@Html.Raw(Model.S_viewsCount)</div>
            </div>
            <div class="section">
                <div class="title">Contact</div>
                <div><i class="fa fa-mobile"></i>@Html.Raw(Model.U_number) </div>
                <div><i class="fa fa-envelope"></i>@Html.Raw(Model.U_email) </div>
            </div>
            <div class="created-by section">
                <div class="title">Created By </div>
                <div class="user">
                    <img src="@String.Format("data:image/jpg;base64,{0}", Model.U_Image)"/>
                    @Html.ActionLink(Model.U_FullName, Model.U_Id, "Profile")
                </div>
            </div>
        </div>
    </div>
</div>
<div class="classified-information-container">
    <div class="row">
        <div class="col-xs-12">
            <ul class="nav nav-tabs">
                <li status="description" class="active"><a data-toggle="tab" href="#description-content">Description<span></span></a></li>
                <li status="information"><a data-toggle="tab" href="#information-content">Information<span></span></a></li>
                <li status="Video"><a data-toggle="tab" href="#video-content">Video<span></span></a></li>
                <li status="Comments"><a data-toggle="tab" href="#comments-content">Comments<span></span></a></li>
            </ul>

            <div class="tab-content">
                <div id="description-content" class="tab-pane fade in active">
                    @Html.Raw(Model.S_description)
                </div>
                <div id="information-content" class="tab-pane fade">
                   Information
                </div>
                <div id="video-content" class="tab-pane fade">
                   Video
                </div>
                <div id="comments-content" class="tab-pane fade">
                    <div class="comments-container">

                        <div class="c-title">
                        </div>
                        <div class="c-header">
                            <div class="upper">
                                <div class="c-picture">
                                    @{var commentImage = "https://app.viima.com/static/media/user_profiles/user-icon.png";
                                        if (Html.CurrentUser().ImageSmall != null || Html.CurrentUser().ImageSmall != "")
                                        {
                                            commentImage = String.Format("data:image/jpg;base64,{0}", Html.CurrentUser().ImageSmall);
                                        }
                                    }
                                    <img src="@commentImage" class="profile-picture round" />
                                </div>
                                <div class="c-addcoment-container">
                                    <textarea placeholder="Enter comment ..." rows="3" id="addText"></textarea>
                                </div>
                            </div>
                            <div class="lower">
                                <div class="c-header-buttons">
                                    <button id="clearButton" class="btn btn-primary">Clear</button>
                                    <button id="addButton" class="btn btn-primary">Add comment</button>
                                </div>
                            </div>
                        </div>
                        <div class="c-body">
                            <div class="comment" comment-id commentTemplate>
                                <div class="upper">
                                    <div class="c-picture">
                                        <img src="https://app.viima.com/static/media/user_profiles/user-icon.png" id="c-picture-user" class="profile-picture round" />
                                    </div>
                                    <div class="c-user-comment-container">
                                        <div class="title">
                                            <span c-user-info></span><span c-time></span>
                                        </div>
                                        <div c-text class="text">
                                        </div>
                                        <div class="c-actions">
                                            <i c-like-button class="fa fa-thumbs-up c-like"></i>
                                            <span c-like></span>
                                            <i c-like-button class="fa fa-thumbs-down c-dislike">
                                            </i><span c-dislike></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .back-button {
        font-size: 15px;
    }

    i.back-button {
        margin-left: 10px;
        margin-right: 10px;
    }

    .back-container {
        margin-top: 20px;
    }
</style>
@Styles.Render("~/Content/slider/ubislider.min.css")
@Styles.Render("~/Content/comments")
@Styles.Render("~/Content/classified")
@section scripts{
    <script src="@Url.Content("~/Scripts/slider/ubislider.min.js")"></script>
    <script type="text/javascript">
        var classified = @Html.Raw(Json.Encode(Model));
        var uriMarkClassified = "@Url.Action("mark", "classifield")";
    </script>
    @if (Model.S_pictures.Length > 0) {
        <script>
            $('#slider').ubislider({
                arrowsToggle: true,
                type: 'ecommerce',
                autoSlideOnLastClick: true,
                modalOnClick: true,
                position: 'vertical'
            });
        </script>
    }
    <script>
        $(document).on('click', '.markClassified', function (e) {
            e.stopPropagation();
            var data = { Id: classified.Id };
            var element = $(this);
            $.ajax({
                url: uriMarkClassified,
                type: 'POST',
                data: data,
                success: function (data) {
                    if (data.Status) {
                        element.addClass('true');
                    } else {
                        element.removeClass('true');
                    }

                    console.log(data);
                }
            });
        });
    </script>
   @Scripts.Render("~/bundles/classified-comments")
}