@using APS.Extensions
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    @Styles.Render("~/Content/fontawesome")
    @Styles.Render("~/Content/main")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="@Url.Action("Index", "Home")" style="margin: 8px 0 0 8px; display:block;">
                    <img src="~/Content/main_logo_white.svg" style="width:90px;"/>
                </a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink(APS.Resources.Main.My_classifieds, "classifieds", "Classifield")</li>
                    <li>@Html.ActionLink(APS.Resources.Main.Add, "add", "classifield")</li>
                    @if (Request.IsAuthenticated)
                    {
                        <li>@Html.ActionLink(APS.Resources.Main.Notifications, "Index", "notifications")</li>
                    }
                    @if (Request.IsAuthenticated && User.IsInRole("Admin"))
                    {
                        <li>@Html.ActionLink(APS.Resources.Main.Administration, "pclassifieds", "Admin")</li>
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    @if (ViewBag.AdministrationPage != null && ViewBag.AdministrationPage == true)
    {
        <div class=" admin-menu" style="padding: 5px 0 5px 0;">
            <div class="container" style="text-align:center;">
                <div class="col-xs-2">
                    @Html.ActionLink("Section", "addsection", "Admin")
                </div>
                <div class="col-xs-2">
                    @Html.ActionLink("Users", "Users", "Admin")
                </div>
                <div class="col-xs-2">
                    @Html.ActionLink("Classifieds", "pclassifieds", "admin")
                </div>
                <div class="col-xs-2">
                    @Html.ActionLink("Work", "work", "admin")
                </div>
                <div class="col-xs-2">
                    @Html.ActionLink("Reports", "Reports", "Admin")
                </div>
            </div>
         </div>
    }

    <div class="container body-content">
        <div class="content-container">
            @RenderBody()
        </div>
        <hr />
        <footer>
            <div class="row">
                <div class="col-sm-3 text-center">
                    <div class="dropdown dropup">
                        <label class="dropdown-toggle" type="button" data-toggle="dropdown">
                            @APS.Resources.Main.Language
                            <span class="caret"></span>
                        </label>
                        <ul class="dropdown-menu text-center">
                            <li class="text-center">@Html.ActionLink(APS.Resources.Main.EN, "Change", "Language", new { LanguageAttribute = "en" }, null)</li>
                            <li class="text-center">@Html.ActionLink(APS.Resources.Main.LV, "Change", "Language", new { LanguageAttribute = "lv" }, null)</li>
                            <li class="text-center">@Html.ActionLink(APS.Resources.Main.RU, "Change", "Language", new { LanguageAttribute = "ru" }, null)</li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-3">
                    @Html.ActionLink(APS.Resources.Main.Regulations, "Index", "Regulations")             
                </div>
                <div class="col-sm-3">
                    <span  data-toggle="modal" data-target="#reportErrorModal">@APS.Resources.Main.Report_an_error</span>               
                </div>
                <div class="col-sm-3">
                    &copy; @DateTime.Now.Year - APS
                </div>
            </div>
        </footer>
        @Html.Partial("Chat")
        @Html.Partial("_ReportErrorModal")
    </div>
    <script>
        var currentUser = @Html.Raw(Json.Encode(Html.CurrentUser()));
        var Blocked = "@ViewBag.Blocked";
        var Edit = "@ViewBag.Edit";
        if (currentUser.Id && currentUser.Blocked && Blocked != "True") {
            window.location.href = "/Blocked";
        }
        else if (!currentUser.FullName && currentUser.Id && Edit != "True") {
            window.location.href = "/profile/edit";
        }
    </script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/main")
    @Scripts.Render("~/bundles/chat")
    @Scripts.Render("/signalr/hubs")
    @Styles.Render("~/Content/chat")

    @RenderSection("scripts", required: false)
</body>
</html>
