@model IEnumerable<APS.Models.PClassifiedModel>
@{
    ViewBag.Title = "Publiced classifieds";
}
<h3>PUBLICED CLASSIFIEDS</h3>
<div class="row">
    <div id="summary-classifieds" class="col-xs-6 summary-classifieds">
        <table>
            <tr>
                <td>Not Approved</td>
                <td id="notApproved"></td>
            </tr>
            <tr>
                <td>Approved</td>
                <td id="approved"></td>
            </tr>
            <tr>
                <td>Assigned</td>
                <td id="assigned"></td>
            </tr>
            <tr>
                <td>Not Assigned</td>
                <td id="notAssigned"></td>
            </tr>
        </table>
    </div>
    <div id="summary-users" class="col-xs-6">
        <table id="summary-workers">
        </table>
    </div>
</div>
<button type="button" class="btn btn-primary" style="width:200px; margin:0 auto 0 auto;" data-toggle="modal" data-target="#assignModal">
    Assign
</button>
<div class="row">
    <div class="col-xs-12">
        <table class="public-table table table-striped table-bordered">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Section</th>
                    <th>FullName</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var c in Model)
                {
                    <tr>
                        <td>@c.Id</td>
                        <td>@c.Section</td>
                        <td>@c.UserFullName</td>
                        <td>@c.UserEmail</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
@*----------------------Modal window ------------------*@
<div class="modal fade" id="assignModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 style="text-align:center" class="modal-title">Assign classifieds</h5>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="form-group col-xs-8">
                        <label for="workerList">User</label>
                        <select id="workerList" class="form-control"></select>
                    </div>      
                    <div class="form-group col-xs-4">
                        <label for="assingCount">Classified count</label>
                        <input id="assingCount" type="number" class="form-control" value="30">
                    </div>    
                </div>
                <div class="row addedCountContainer">
                    <div class="col-xs-12" style="color:limegreen; font-size:15px;">
                        <span> Assigned </span><span id="addedCount"></span> <span> classifieds to user.</span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button style="float:left" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" data-classified-id onclick="assingClassifieds()">Assign</button>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    h3 {
        text-align: center;
        font-weight: bold;
        color: dimgrey;
    }
</style>
@Styles.Render("https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap.min.css")
@section scripts{
    <script src="@Url.Content("https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js")"></script>
    <script src="@Url.Content("https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap.min.js")"></script>
    <script>
        $(".public-table").DataTable();
    </script>
    <script src="@Url.Content("~/Scripts/Admin/pclassifieds.js")"></script>
}
