@model IEnumerable<APS.Models.PClassifiedModel>
@{
    ViewBag.Title = "Publiced classifieds";
}
<h3>@APS.Resources.Main.publicedc</h3>
<div class="row">
    <div id="summary-classifieds" class="col-xs-6 summary-classifieds">
        <table>
            <tr>
                <td>@APS.Resources.Main.NotApproved</td>
                <td id="notApproved"></td>
            </tr>
            <tr>
                <td>@APS.Resources.Main.Approved</td>
                <td id="approved"></td>
            </tr>
            <tr>
                <td>@APS.Resources.Main.Assigned</td>
                <td id="assigned"></td>
            </tr>
            <tr>
                <td>@APS.Resources.Main.NotAssigned</td>
                <td id="notAssigned"></td>
            </tr>
        </table>
    </div>
    <div id="summary-users" class="col-xs-6">
        <table id="summary-workers">
        </table>
    </div>
</div>
<button type="button" class="btn btn-primary" style="width:200px; margin:0 auto 0 auto;" data-toggle="modal" data-target="#assignModal">
    @APS.Resources.Main.Assign
</button>
<div class="row">
    <div class="col-xs-12">
        <table class="public-table table display">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>@APS.Resources.Main.Section</th>
                    <th>@APS.Resources.Main.FullName</th>
                    <th>@APS.Resources.Account.Email</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var c in Model)
                {
                    <tr>
                        <td>@c.Id</td>
                        <td>@c.Section</td>
                        <td>@c.UserFullName</td>
                        <td>@c.UserEmail</td>
                        <td><i class='fa fa-eye show-profile'></i><i class='fa fa-ban reject-classified'></i></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
@*----------------------Modal window ------------------*@
<div class="modal fade" id="assignModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 style="text-align:center" class="modal-title">@APS.Resources.Main.AssignClassifieds Assign classifieds</h5>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="form-group col-xs-8">
                        <label for="workerList">User</label>
                        <select id="workerList" class="form-control"></select>
                    </div>      
                    <div class="form-group col-xs-4">
                        <label for="assingCount">@APS.Resources.Main.Classifiedcount</label>
                        <input id="assingCount" type="number" class="form-control" value="30">
                    </div>    
                </div>
                <div class="row addedCountContainer">
                    <div class="col-xs-12" style="color:limegreen; font-size:15px;">
                        <span> @APS.Resources.Main.Assigned </span><span id="addedCount"></span> <span> @APS.Resources.Main.classifiedstouser .</span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button style="float:left" type="button" class="btn btn-secondary" data-dismiss="modal">@APS.Resources.Main.Close</button>
                    <button type="button" class="btn btn-primary" data-classified-id onclick="assingClassifieds()">@APS.Resources.Main.Assign</button>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    h3 {
        text-align: center;
        font-weight: bold;
        color: dimgrey;
    }
    table th:last-child {
        width:40px;
    }
    .summary-classifieds {
        font-size:17px;
    }
    .summary-classifieds td:last-child{
        padding-left:20px;
    }
    .show-profile, .reject-classified {
        font-size: 20px;
    }
    .show-profile:hover, .reject-classified:hover {
        color:grey;
    }
    .show-profile {
        padding-right:15px;
    }
</style>
@Styles.Render("https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap.min.css")
@section scripts{
    <script src="@Url.Content("https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js")"></script>
    <script src="@Url.Content("https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap.min.js")"></script>
    <script>
        $(".public-table").DataTable();
    </script>
    <script src="@Url.Content("~/Scripts/Admin/pclassifieds.js")"></script>
}
