@model APS.Models.Section
@{
    ViewBag.Title = "CLASSIFIEDS";
    var _path = Model.Path;
    string[] _backOptions = _path.Split('/');

}
<div class="row back-container">
    <div class="col-xs-12">
        <span class="back-button">
            @Html.ActionLink("Home", "", "Home")
        </span>
        @if (_backOptions != null && _backOptions.Length > 0)
        {
            var temp = "";
            _backOptions = _backOptions.Take(_backOptions.Count() - 1).ToArray();
            foreach (var op in _backOptions)
            {
                temp += '/' + op;
                <i class="fa fa-chevron-right back-button"></i>
                <span class="back-button">
                    @Html.ActionLink(op, temp, "classifields")
                </span>
            }
        }

    </div>
</div>
<h3>@ViewBag.Title</h3>
<div class="row">
    <div class="col-xs-12">
        <div class="classifields-table">
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="prevClassified" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <input id="c-id" type="hidden" />
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-12 main-c">
                        <div class="classified-image-container">
                            <div class="ubislider-image-container" data-ubislider="#slider" id="imageSlider"></div>
                            <div class="ubislider" id="slider">
                                <ul class="ubislider-inner">
                                    <li>
                                        <img src="http://1280x1024-darba-virsmas-fonus.free-online.gratis/pictures/Skaistas-autoratl%C4%ABdz%C4%ABbas-att%C4%93li-1349.jpg">
                                    </li>
                                    <li>
                                        <img src="http://spi4.itvnet.lv/upload2/articles/83/834660/images/Skaisti-atteli-dienai-1.jpg">
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12" style="text-align:center;">
                        <span id="price" style="text-align:center; color:limegreen; font-size:20px;"></span>
                    </div>
                </div>
                <div class="row description">
                    <div class="col-xs-12 description-head" style="text-align:center; cursor:pointer;">
                        <span>Description</span>
                    </div>
                    <div class="col-xs-12 description-content" style="display:none;">
                        <hr/>
                        <span id="description"></span>
                    </div>
                </div> 
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-prev" onclick="classifieldManager.previousClassified()"><i class="fa fa-angle-double-left"></i></button>
                <button type="button" class="btn btn-primary toRight" data-dismiss="modal"><i class="fa fa-times"></i></button>
                <button type="button" class="btn btn-primary toRight btn-next" onclick="classifieldManager.nextClassified()"><i class="fa fa-angle-double-right"></i></button>
            </div>
        </div>
    </div>
</div>
@Styles.Render("https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap.min.css")
@Styles.Render("~/Content/slider/ubislider.min.css")
@Styles.Render("~/Content/classified-manager.css")

@section scripts{
    <script>
        var section = @Html.Raw(Json.Encode(Model))
        var uriMarkClassified = "@Url.Action("mark", "classifield")";
    </script>
    <script src="@Url.Content("https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js")"></script>
    <script src="@Url.Content("https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap.min.js")"></script>
    <script src="@Url.Content("~/Scripts/slider/ubislider.min.js")"></script>
    <script src="@Url.Content("~/Scripts/Classifields/classifields-manager.js")"></script>
}
<style>

</style>