@model APS.Models.Section
@{
    ViewBag.Title = "CLASSIFIEDS";
    var _path = Model.Path;
    string[] _backOptions = _path.Split('/');

}
<div class="row back-container">
    <div class="col-xs-12">
        <span class="back-button">
            @Html.ActionLink("Home", "", "Home")
        </span>
        @if (_backOptions != null && _backOptions.Length > 0)
        {
            var temp = "";
            _backOptions = _backOptions.Take(_backOptions.Count() - 1).ToArray();
            foreach (var op in _backOptions)
            {
                temp += '/' + op;
                <i class="fa fa-chevron-right back-button"></i>
                <span class="back-button">
                    @Html.ActionLink(op, temp, "classifields")
                </span>
            }
        }

    </div>
</div>
<h3>@ViewBag.Title</h3>
@*<div class="classifields-table table-responsive">
</div>
    *@
<div class="row">
    <div class="col-xs-12">
        <div class="classifields-table">
        </div>
    </div>
</div>
@Styles.Render("https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css")
@section scripts{
    <script>
        var section = @Html.Raw(Json.Encode(Model))
    </script>
    <script src="@Url.Content("https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js")"></script>
    <script src="@Url.Content("~/Scripts/Classifields/classifields-manager.js")"></script>
}
<style>
    h3 {
        text-align: center;
        font-weight: bold;
        color: dimgrey;
    }
    table tbody tr {
        height:60px;
    }
        table tbody tr td {
            vertical-align: middle !important;
        }
    table tbody tr td img{
        height: 50px;
    }
    table tr td:first-child {
        width: 200px;
    }
</style>